In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
df = pd.read_csv("anon_Admit_Report.csv", encoding="unicode_escape") #data set

In [6]:
df.shape
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12647 entries, 0 to 12646
Data columns (total 45 columns):
 #   Column                                                                                                                              Non-Null Count  Dtype
---  ------                                                                                                                              --------------  -----
 0   Applicant                                                                                                                           12647 non-null  int64
 1   Application                                                                                                                         12647 non-null  int64
 2   Created date                                                                                                                        12647 non-null  object
 3   Submitted date                                                                                                                      12647 non-null  object
 4   Offer type                                                                                                                          12647 non-null  object
 5   Offer course name                                                                                                                   12647 non-null  object
 6   Gender                                                                                                                              12647 non-null  object
 7   Special needs                                                                                                                       0 non-null      float64
 8   Disadvantaged background                                                                                                            0 non-null      float64
 9   Latest Higher Education Institution                                                                                                 275 non-null    object
 10  Latest Education Level                                                                                                              11566 non-null  object
 11  Education - Block 1: Level of education                                                                                             12601 non-null  object
 12  Education - Block 2: Level of education                                                                                             4089 non-null   object
 13  Language: native                                                                                                                    12645 non-null  object
 14  Extra question: Intended Major/Program of study at Ashesi University                                                                0 non-null      float64
 15  Extra question: Have you applied to Ashesi before? If "yes" indicate the year.                                                      12567 non-null  object
 16  Extra question: Have any of your family members gained admission to Ashesi University?                                              12634 non-null  object
 17  Extra question: Is he/she alive?                                                                                                    4785 non-null   object
 18  Extra question: Relationship to you?                                                                                                4776 non-null   object
 19  Extra question: Level of education                                                                                                  5340 non-null   object
 20  Extra question: Is he/she alive?.1                                                                                                  4785 non-null   object
 21  Extra question: Relationship to you?.1                                                                                              4722 non-null   object
 22  Extra question: Level of education.1                                                                                                5191 non-null   object
 23  Extra question: Is he/she alive?.2                                                                                                  6362 non-null   object
 24  Extra question: Relationship to you?.2                                                                                              6323 non-null   object
 25  Extra question: Level of education.2                                                                                                6384 non-null   object
 26  Extra question: Is he/she alive?.3                                                                                                  6045 non-null   object
 27  Extra question: Relationship to you?.3                                                                                              5917 non-null   object
 28  Extra question: Level of education.3                                                                                                6188 non-null   object
 29  Extra question: Type of Exam                                                                                                        12645 non-null  object
 30  Extra question: Exam Year                                                                                                           11604 non-null  object
 31  Extra question: Certificate Awarded                                                                                                 9 non-null      object
 32  Extra question: Graduating/Cummulative Score                                                                                        7 non-null      object
 33  Extra question: Certificate Classification                                                                                          6 non-null      float64
 34  Extra question: How did you hear about Ashesi? You can select all that apply to you:                                                12645 non-null  object
 35  Extra question: Have you ever attended any Ashesi sponsored high school event? If "yes" please state event and year of attendance.  8200 non-null   object
 36  Extra question: Do you Need Financial Aid?                                                                                          12645 non-null  object
 37  Extra question: Do you need Financial Aid?                                                                                          0 non-null      float64
 38  Extra question: Do you need Financial Aid                                                                                           0 non-null      float64
 39  Extra question: Do you Need Financial Aid?.1                                                                                        0 non-null      float64
 40  Language test - numerical score                                                                                                     0 non-null      float64
 41  Language test - textual score                                                                                                       0 non-null      float64
 42  Motivation letter - numerical score                                                                                                 0 non-null      float64
 43  Motivation letter - textual score                                                                                                   0 non-null      float64
 44  Skype interviw grade - numerical score                                                                                              0 non-null      float64
dtypes: float64(12), int64(2), object(31)
memory usage: 4.3+ MB

In [15]:
#df.drop(["Order ID", "unamed1"], axis=1, inplace=True) remove rows
pd.isnull(df).sum() 
null_counts = pd.isnull(df).sum()
filtered_nulls = null_counts[null_counts > 500]
print(filtered_nulls)

Special needs                                                                                                                         12647
Disadvantaged background                                                                                                              12647
Latest Higher Education Institution                                                                                                   12372
Latest Education Level                                                                                                                 1081
Education - Block 2: Level of education                                                                                                8558
Extra question: Intended Major/Program of study at Ashesi University                                                                  12647
Extra question: Is he/she alive?                                                                                                       7862
Extra question: Relationship to you?                                                                                                   7871
Extra question: Level of education                                                                                                     7307
Extra question: Is he/she alive?.1                                                                                                     7862
Extra question: Relationship to you?.1                                                                                                 7925
Extra question: Level of education.1                                                                                                   7456
Extra question: Is he/she alive?.2                                                                                                     6285
Extra question: Relationship to you?.2                                                                                                 6324
Extra question: Level of education.2                                                                                                   6263
Extra question: Is he/she alive?.3                                                                                                     6602
Extra question: Relationship to you?.3                                                                                                 6730
Extra question: Level of education.3                                                                                                   6459
Extra question: Exam Year                                                                                                              1043
Extra question: Certificate Awarded                                                                                                   12638
Extra question: Graduating/Cummulative Score                                                                                          12640
Extra question: Certificate Classification                                                                                            12641
Extra question: Have you ever attended any Ashesi sponsored high school event? If "yes" please state event and year of attendance.     4447
Extra question: Do you need Financial Aid?                                                                                            12647
Extra question: Do you need Financial Aid                                                                                             12647
Extra question: Do you Need Financial Aid?.1                                                                                          12647
Language test - numerical score                                                                                                       12647
Language test - textual score                                                                                                         12647
Motivation letter - numerical score                                                                                                   12647
Motivation letter - textual score                                                                                                     12647
Skype interviw grade - numerical score                                                                                                12647
dtype: int64

In [21]:
# Find columns with > 500 nulls
null_counts = pd.isnull(df).sum()
cols_to_drop = null_counts[null_counts > 500].index

# Drop them from the dataset
df_dropped = df.drop(columns=cols_to_drop)
df_dropped.shape
df_dropped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12647 entries, 0 to 12646
Data columns (total 14 columns):
 #   Column                                                                                  Non-Null Count  Dtype
---  ------                                                                                  --------------  -----
 0   Applicant                                                                               12647 non-null  int64
 1   Application                                                                             12647 non-null  int64
 2   Created date                                                                            12647 non-null  object
 3   Submitted date                                                                          12647 non-null  object
 4   Offer type                                                                              12647 non-null  object
 5   Offer course name                                                                       12647 non-null  object
 6   Gender                                                                                  12647 non-null  object
 7   Education - Block 1: Level of education                                                 12601 non-null  object
 8   Language: native                                                                        12645 non-null  object
 9   Extra question: Have you applied to Ashesi before? If "yes" indicate the year.          12567 non-null  object
 10  Extra question: Have any of your family members gained admission to Ashesi University?  12634 non-null  object
 11  Extra question: Type of Exam                                                            12645 non-null  object
 12  Extra question: How did you hear about Ashesi? You can select all that apply to you:    12645 non-null  object
 13  Extra question: Do you Need Financial Aid?                                              12645 non-null  object
dtypes: int64(2), object(12)
memory usage: 1.4+ MB

In [ ]:

df_dropped['Created date'] = pd.to_datetime(df_dropped['Created date']).dt.to_period('M')
df_dropped['Submitted date'] = pd.to_datetime(df_dropped['Submitted date']).dt.to_period('M')
print(df_dropped['Created date'])

0        2018-01
1        2018-01
2        2018-01
3        2018-01
4        2018-01
          ...
12642    2024-12
12643    2024-12
12644    2024-12
12645    2024-12
12646    2024-12
Name: Created date, Length: 12647, dtype: period[M]

/var/folders/6g/n1qq009n3_d6hxkwbx1stm9m0000gn/T/ipykernel_4599/2255703535.py:1: UserWarning: Parsing dates in %d/%m/%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_dropped['Created date'] = pd.to_datetime(df_dropped['Created date']).dt.to_period('M')

In [29]:
print(df_dropped['Offer type'].unique())
# print(df_dropped['Offer type'])

['Failed' 'Withdrawn' 'Enrolled' 'Auto Deny' 'Admission Package'
 'Unreplied' 'Ready for committee' 'Positive Feedback'
 'Positive Feedback (Sep)']

In [30]:
print(df_dropped['Offer course name'].unique())
# print(df_dropped['Offer type'])

['[B.Sc.] Computer Science' '[B.Sc.] Management Information Systems'
 '[B.Sc.] Electrical/Electronic Engineering'
 '[B.Sc.] Computer Engineering' '[B.Sc.] Mechanical Engineering'
 '[B.Sc.] Business Administration' '[B.Sc.] Mechatronic Engineering'
 '[B.Sc.] Economics' '[LLB] Law with Public Policy']

In [31]:
print(df_dropped['Gender'].unique())

['M' 'F']

In [33]:
print(df_dropped['Education - Block 1: Level of education'].unique())

['SE' 'OQ' 'VO' 'BA' 'EX' nan]

In [34]:
print(df_dropped['Language: native'].unique())

['ee' 'en' 'fat' 'yo' 'luo' 'ki' 'gaa' 'bfd' 'ak' 'so' 'ha' 'myv' 'tw'
 'rw' 'sn' 'bem' 'ig' 'fr' 'und' 'gn' 'tum' 'am' 'ny' 'byv' 'sw' 'ff' 'nd'
 'om' 'rwk' 'teo' 'nr' 'mul' 'ss' 'bas' 'man' 'ada' 'st' 'enm' 'zxx' 'af'
 'dje' 'nyo' 'ar' 'kfo' 'ach' 'bm' 'nzi' 'efi' 'dyo' 'fon' 'bum' 'wo'
 'mos' 'ab' 'dv' 'kpe' 'bkm' 'swc' 'mas' 'kam' 'mi' 'luy' 'idu' 'lg' 'nyn'
 'pt' 'ybb' 'men' 'zu' 'kln' 'nym' 'bg' 'dua' 'tog' 'eo' 'din' 'dzg' 'lag'
 'rn' 'yao' 'ksf' 'sid' 'mgo' 'ts' 'nus' 'dz' 'ln' 'frr' 'es' 'ibb' 'si'
 'wal' 'nnh' 'tiv' 've' 'ast' 'guz' 'ban' 'ace' 'jgo' 'lua' 'ang' 'xog'
 'loz' 'wae' 'dar' 'su' 'saq' 'yue' 'syc' 'ta' 'mni' 'tem' 'kr' 'bbj'
 'gur' 'tn' 'ti' 'kg' 'lu' nan 'mer' 'pcm' 'ebu' 'bax' 'lfn' 'kri']

In [53]:
mask = 'Extra question: Have you applied to Ashesi before? If "yes" indicate the year.'

no_entries = df_dropped.loc[
    df_dropped[mask]
    .str.contains(r'yes', case=False, na=False),
    mask
]
print(no_entries.unique())
print(len(no_entries.unique()))

['yes 2017' 'Yes, I have applied it last year 2017' 'yes, 2016'
 'Yes, 2017' 'Yes (AIX 2017)' 'Yes in 2017' 'Yes, in 2017' 'Yes 2017'
 'Yes, 2017.' 'Yes, 2016' 'Yes - 2016 and 2017' 'yes, in 2017.'
 'yes in 2017' 'Yes,2017' 'YES' 'Yes. 2017' 'Yes (2018)' 'YES (2018)'
 'Yes' 'Yes. 2018' 'Yes, 2018' 'Yes 2018'
 'Yes. In the year 2018 for the 2018 intake' 'yes(2018)' 'Yes/2018.'
 "Yes, 2018 session, but I didn't complete it." 'YES, 2018' 'yes 2018'
 'Yes in 2017 and 2018' 'Yes - 2018' 'Yes, in the year 2018' 'Yes(2018)'
 'yes in 2017 and 2018' 'yes - 2018' 'Yes, in 2018' 'Yes please (2018)'
 'Yes (2014)' 'Yes- 2018' 'Yes, I applied in 2018.' 'Yes  2017'
 'Yes,2017/2018 and 2018/2019' 'Yes  2018' 'Yes, 2017/2018 Academic Year'
 'Yes-2018' 'Yes: 2018' 'Yes. 2018.' 'yes, in 2018' 'yes, this year'
 'yes. 2018' 'Yes, 2018.' 'YES 2019' 'YES ,2018' 'Yes,2019' 'Yes, 2019'
 'Yes! 2019' 'Yes ,2019' 'Yes ; 2019' 'Yes (2019/2020)' 'Yes . 2019'
 'Yes, 2019/2020' 'Yes 2019'
 'Yes I have applied to Ashesi last year, Academic Year 2019'
 'Yes - 2019/2020' 'yes, in 2019' 'Yes. In 2019' 'YES - 2019'
 'yes in 2017 ,2018,and 2019' 'YES (2019)' 'Yes,2018'
 'Yes 2019 application' 'Yes. 2019' 'YES, 2019' 'Yes in 2019' 'Yes-2019'
 'Yes  2019' 'Yes, for 2019 academic year' 'Yes, 2019.'
 'Yes, in 2018 and also in 2019' 'Yes - 2019'
 'Yes 2019/2020 ACADEMIC YEAR' 'Yes - 2018, 2019'
 'Yes, I applied last year 2019.' 'yes 2019' 'yes, 2019' 'yes'
 'Yes - Year 2019' 'Yes(2019)' 'Yes, 2020.' 'Yes, 2020'
 'Yes. In 2019 for Fall 2019 Admission (Class of 2023)' 'Yes,2020'
 'Yes in 2020' 'YES. 2020' 'Yes I have applied to Ashesi before in 2020'
 'Yes , 2020' 'Yes-2020' 'Yes 2020' 'Yes Please (2020)' 'yes 2020'
 'Yes, I applied in year 2020' 'Yes 2020 ( Last academic year)'
 'YES - 2020' 'Yes ,2020' 'yes, 2018' 'Yes.     2020' 'Yes,  2020'
 'Yes 2018/ 2019' 'Yes I applied for 2020/2021 academic year'
 'Yes 2019/2020' 'Yes(2020)' 'yes in 2020' 'Yes - 2020' 'Yes. 2020'
 'Yes (Ashesi AIX 2019 Experience)' 'YES ( 2020)'
 'Yes (2019/2020),(2020/21)' 'Yes  2018, 2019' 'Yes-2018, 2020'
 'yes (2020)' 'yes, 2020' 'Yes , 2020.' 'Yes, in 2020' 'Yes 2021'
 'yes, 2018, 2019, 2020 and 2021' 'Yes, 2021'
 'YES I did apply to ASHESI for the 2021-2022 admission but unfortunately was not accepted.'
 'Yes in 2021' 'Yes (2021)' 'Yes, Academic Year 2020/2021' 'Yes.  2021'
 'yes in 2021' 'Yes 2021 applications' 'Yes. 2021' 'Yes 2021/2022'
 'Yes.   Year: 2021' 'Yes - 2021/22' 'Yes. 2021/2022' 'Yes ,2021'
 'Yes , 2021' 'Yes- 2021' 'Yes (2019/2020),(2020/21),(2021/22)'
 'Yes, 2020/2021' 'Yes ( 2021)' 'Yes,2021/22 academic year' 'YES.2021'
 'yes 2021' 'Yes - 2018, 2019, 2020, 2021' 'Yes, for 2022'
 'Yes. In the year 2021' 'Yes; (2021)' 'Yes, for the AIX program 2022'
 'yes, 2020.' 'yes. 2021' 'Yes, 2021 academic year' 'Yes - 2021'
 'yes (2021)' 'YES -  2021' 'yes  2021/2022'
 'YES,I was waiting for my result to come out' 'Yes but I failed to apply'
 'Yes. 2022/2023 academic year' 'Yes. 2020 and 2021' 'Yes, 2020 and 2021'
 'Yes. (2021)' 'yes  in 2021' 'Yes please, 2022' 'Yes, 2022.' 'Yes, 2022'
 'Yes 2022' 'yes, 2022' 'Yes, 2021 and 2022' 'Yes 2022 admission cycle'
 'Yes-2022' 'Yes in 2022' 'Yes, I applied to Ashes in 2023 intake'
 'Yes. 2022/23' 'Yes (2022/23 academic year)'
 'Yes, 2022/2023 Academic Year.' 'Yes /2022' 'Yes (2022)'
 'Yes 2021/2022, 2022/2023' 'Yes, 2021, 2022' 'Yes, In 2021-2022'
 'Yes. 2022' 'Yes 2021 & 2022' 'Yes (2022 and 2021)' 'Yes.  2022'
 'Yes. I applied in 2022' 'Yes: 2021, 2022' 'yes,2022'
 'Yes, (2022/2023 Admission)' 'Yes - 2022' 'Yes, 2020, 2022'
 'Yes, In 2022' 'Yes. I applied during the 2022/2023 academic year.'
 'Yes, in October 2022' 'Yes, in 2022' 'Yes , Year ; 2022/23'
 'YES 2022/2023' 'YES-2022' 'yes, 2023' 'Yes. 2021/2022 Academic year'
 'Yes,the year 2023' 'yes. 2023' 'Yes. 2023' 'Yes (2023)' 'yes ,2023'
 'Yes, 2023' 'Yes- 2022' 'Yes(2023)' 'yes - 2023' 'Yes, 2023.'
 'Yes - 2023' 'Yes, I applied in 2023.' 'Yes 2023'
 'yes, 2021, 2022 and 2023.' 'Yes (Last year, 2023)' 'Yes , June 2023'
 'Yes, I applied twice but all unsuccessful' 'Yes in 2023' 'Yes 2023/2024'
 'Yes 2021-2022 and 2022-2023' 'Yes (2023/2024)' 'Yes , 2023/2024'
 'Yes, I applied in 2023 for admission to the class of 2027.'
 'Yes. 2021/2022  and 2023/2024 Academic year' 'yes 2023/2024' 'yes-2023'
 'Yes, in the year 2023-2024' 'Yes  2023/2024'
 'Yes, 2023/2024 academic year' 'Yes. 2023.'
 'yes,i have applied to Ashesi before in last yeah 2023'
 'Yes (2023 ,2022 and 2021)' 'Yes, In  October of 2023' 'Yes. In 2023.'
 'Yes, 2023/2024' 'yes (2023)' 'Yes last year and this year'
 'Yes. I applied in 2023' 'YES, 2016 and 2017'
 'Yes.  2021/22  and 2022/23' 'Yes, This year.'
 "Yes, I applied for Ashesi University scholarship several times. My first attempt was in July 2023 but wasn't eventually shortlisted. I gave it a second attempt early this year in February 2024, I was lucky to attend an interviewed session but unfortunately my application outcomes was not successful. However, I am still keeping my determination tight to give it a third attempt towards  realizing my academic career and weak financial backgrounds."
 'Yes, 2024' 'yes  (2023/2024)' 'Yes,2023' 'Yes 2023/24' 'Yes , 2024']
249

In [54]:
import re

col = 'Extra question: Have you applied to Ashesi before? If "yes" indicate the year.'

def clean_yes(entry):
    if pd.isna(entry):
        return None
    text = entry.strip().lower()
    
    # Only process if it contains "yes"
    if "yes" in text:
        # Find all 4-digit years
        years = re.findall(r"\b\d{4}\b", text)
        # Build clean string
        return "Yes " + " ".join(years) if years else "Yes"
    return None

# Apply function to the column
yes_cleaned = df_dropped[col].apply(clean_yes).dropna()

print(yes_cleaned.unique())

['Yes 2017' 'Yes 2016' 'Yes 2016 2017' 'Yes' 'Yes 2018' 'Yes 2018 2018'
 'Yes 2017 2018' 'Yes 2014' 'Yes 2017 2018 2018 2019' 'Yes 2019'
 'Yes 2019 2020' 'Yes 2017 2018 2019' 'Yes 2018 2019' 'Yes 2020'
 'Yes 2019 2019 2023' 'Yes 2020 2021' 'Yes 2019 2020 2020' 'Yes 2018 2020'
 'Yes 2021' 'Yes 2018 2019 2020 2021' 'Yes 2021 2022'
 'Yes 2019 2020 2020 2021' 'Yes 2022' 'Yes 2022 2023' 'Yes 2023'
 'Yes 2021 2022 2022 2023' 'Yes 2022 2021' 'Yes 2020 2022'
 'Yes 2021 2022 2023' 'Yes 2023 2024' 'Yes 2023 2027'
 'Yes 2021 2022 2023 2024' 'Yes 2023 2022 2021' 'Yes 2024']